<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>


    <h2>Angular QR Code Customization Example</h2>

    <br />
    <div class="container">
    <div [class]=containerQr id=qr>
      <qr-code [value]="values" [size]="width" [level]="level" [background]="background" [backgroundAlpha]="backgroundAlpha" [foreground]="foreground"  [backgroundAlpha]="foregroundAlpha"></qr-code>
    </div>
    <br />
    <label>
      Change name: <input [(ngModel)]="values" placeholder="name" />
    </label>

    <br />
    <br />
    <br />

    <strong>Change to</strong>:
    <button class="btn btn-info" (click)="qrData('Monica Rambeau')">Monica Rambeau</button>
    <button class="btn btn-info" (click)="qrData('Nosy Neighbor')">Nosy Neighbor</button>
    <button class="btn btn-info" (click)="qrData('Mephisto')"> Mephisto</button>

    <br />
    <br />
    <br />

    <strong>Change Width</strong>:
    <button class="btn btn-info" (click)="qrWidth(550)">550</button>
    <button class="btn btn-info" (click)="qrWidth(450)">450</button>
    <button class="btn btn-info" (click)="qrWidth(350)">350</button>
    <button class="btn btn-info" (click)="qrWidth(250)">250</button>

    <br />
    <br />
    <br />

    <strong>Update Level</strong>:
    <button class="btn btn-info" (click)="qrLevel('L')">L</button>
    <button class="btn btn-info" (click)="qrLevel('M')">M</button>
    <button class="btn btn-info" (click)="qrLevel('Q')">Q</button>
    <button class="btn btn-info" (click)="qrLevel('H')">H</button>

    <br />
    <br />
    <br />



    <strong>background</strong>:
    <button class="btn btn-info" (click)="qrBackground('blue')">Blue</button>
    <button class="btn btn-info" (click)="qrBackground('red')">Red</button>
    <button class="btn btn-info" (click)="qrBackground('green')">Green</button>
    <button class="btn btn-info" (click)="qrBackground('yellow')">Yellow</button>
    <button class="btn btn-info" (click)="qrBackground('white')">White</button>

    <br />
    <br />
    <br />


    <strong> Opacity of the background</strong>:
    <button class="btn btn-info" (click)="qrBackgroundAlpha(1)">1</button>
    <button class="btn btn-info" (click)="qrBackgroundAlpha(0.8)">0.8</button>
    <button class="btn btn-info" (click)="qrBackgroundAlpha(0.6)">0.6</button>
    <button class="btn btn-info" (click)="qrBackgroundAlpha(0.4)">0.4</button>
    <button class="btn btn-info" (click)="qrBackgroundAlpha(0.2)">0.2</button>
    <button class="btn btn-info" (click)="qrBackgroundAlpha(0)">0.0</button>

    <br />
    <br />
    <br />

    <strong>Foreground</strong>:
    <button class="btn btn-info" (click)="qrForeground('blue')">Blue</button>
    <button class="btn btn-info" (click)="qrForeground('red')">Red</button>
    <button class="btn btn-info" (click)="qrForeground('green')">Green</button>
    <button class="btn btn-info" (click)="qrForeground('yellow')">Yellow</button>
    <button class="btn btn-info" (click)="qrForeground('white')">White</button>

    <br />
    <br />
    <br />

    <strong> Opacity of the foreground</strong>:
    <button class="btn btn-info" (click)="qrForegroundAlpha(1)">1</button>
    <button class="btn btn-info" (click)="qrForegroundAlpha(0.8)">0.8</button>
    <button class="btn btn-info" (click)="qrForegroundAlpha(0.6)">0.6</button>
    <button class="btn btn-info" (click)="qrForegroundAlpha(0.4)">0.4</button>
    <button class="btn btn-info" (click)="qrForegroundAlpha(0.2)">0.2</button>
    <button class="btn btn-info" (click)="qrForegroundAlpha(0)">0.0</button>

    <br />
    <br />
    <br />

    <div id="hide">
    <button class="btn btn-danger" (click)="hide()">Hide</button>
    <button class="btn btn-danger" (click)="show()">Show</button>
  </div>



  </div>









    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>

